li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
img {
  width: 25%;
}
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: #DA291C;
  }
  
  .jumbotron {
    background-color: #FFC72C;
  }

  #eatbutton {
    color:#DA291C;
  }